
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  text-align: center;
  color: #000000;

}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  width: 25px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 40px;
  color: #ffffff;
  padding: 18px;
  background-color: #000000;
  opacity: 0.3;
}

.header-background {
  background-color: #000000;
  font-size: 40px;
  color: #ffffff;
  padding: 18px;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.section-container {
  flex-direction: row;
  margin: 50px 60px 50px 60px;
  padding: 30px;
}

.waypoint-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 600px;
}

.waypoint-one {
  background-image: url('../assets/images/background-one.png');
}

.waypoint-two {
  background-image: url('../assets/images/background-two.png');
}

.waypoint-three {
  background-image: url('../assets/images/background-four.png');
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 15px;
  color: #ffffff;
  padding: 5px;
  background-color: #000000;
  opacity: 0.3;
}
