
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  text-align: center;
}

header {
  font-size: 40px;
  color: #ffffff;
  padding: 25px;
  background-color: #000000;
  opacity: 0.7;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.section-container {
  flex-direction: row;
  margin: 200px auto;
  padding: 30px;
}

.waypoint-container {
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  margin: 40px;
}

.waypoint-one {
  background-image: url('../assets/images/background-one.png');
}

.waypoint-two {
  background-image: url('../assets/images/background-two.png');
}

.waypoint-three {
  background-image: url('../assets/images/background-three.png');
}
